{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}?v=20260201" />
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div class="layout">
            <nav class="site-nav box">
                <ul>
                    {% for item in nav_items %}
                        {{ nav_link(item.endpoint, item.text, active_page) }}
                    {% endfor %}
                </ul>
            </nav>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            {% block footer %}&copy; CodePapayas 2026{% endblock %}
        </div>
    </body>
</html>